Repository gofractally/psibase, pull requests merged in 2024-08, with the labels that each got.

#803 Fix writing http-timeout to the config file
  programs/psinode/main.cpp
Labels: bug, Node infra

#804 Bump version
  CMakeLists.txt
  dev/DemoApp1/plugin/Cargo.lock
  dev/DemoApp1/service/Cargo.lock
  dev/DemoApp1/yarn.lock
  dev/DemoApp2/yarn.lock
  libraries/psibase/common/include/psibase/version.hpp
  rust/Cargo.lock
  rust/Cargo.toml
  rust/burst-transfer/Cargo.toml
  rust/cargo-psibase/Cargo.toml
  rust/fracpack/Cargo.toml
  rust/psibase/Cargo.toml
  rust/psibase_macros/Cargo.toml
  rust/test_contract/Cargo.toml
  rust/test_contract_2/Cargo.toml
  rust/test_fracpack/Cargo.toml
  rust/test_service_elections/Cargo.toml
  rust/test_service_sites/Cargo.toml
  rust/test_subjective/Cargo.toml
  services/system/Accounts/plugin/Cargo.lock
  services/system/AuthSig/plugin/Cargo.lock
  services/user/Invite/plugin/Cargo.lock
  services/user/Tokens/plugin/Cargo.lock
  services/user/Webmail/plugin/Cargo.lock
  services/user/XAdmin/ui/yarn.lock
Labels: no-log

#806 Remove simdjson.
  external/CMakeLists.txt
  external/simdjson/CMakeLists.txt
  external/simdjson/include/simdjson.h
  external/simdjson/simdjson.cpp
  libraries/psibase/common/include/psibase/Memo.hpp
  libraries/psibase/sdk/psibase-config.cmake
  libraries/psibase/sdk/psibase-config.cmake.build
  libraries/psio/CMakeLists.txt
  rust/gen-cpp-doc/src/main.rs
  rust/test_fracpack/build.rs
  services/psibase_tests/test_memo.cpp
Labels: no-log

#769 Tackles #744: Rust app development experience
  dev/DemoApp1/service/Cargo.toml
  rust/Cargo.lock
  rust/cargo-psibase/src/main.rs
  rust/psibase/Cargo.toml
  rust/psibase/src/cli/config.rs
  rust/psibase/src/cli/mod.rs
  rust/psibase/src/main.rs
  rust/test_contract_2/Cargo.toml
  rust/test_contract_2/src/lib.rs
  rust/test_service_elections/Cargo.toml
  rust/test_service_sites/Cargo.toml
  services/system/Accounts/plugin/Cargo.lock
  services/system/AuthSig/plugin/Cargo.lock
  services/user/Invite/plugin/Cargo.lock
  services/user/Tokens/plugin/Cargo.lock
  services/user/Webmail/plugin/Cargo.lock
Labels: Dev Experience

#799 Add temporary login functionality
  .gitignore
  CMakeLists.txt
  dev/DemoApp1/plugin/wit/world.wit
  dev/DemoApp1/ui/src/App.tsx
  services/system/Accounts/plugin/Cargo.lock
  services/system/Accounts/plugin/Cargo.toml
  services/system/Accounts/plugin/src/errors.rs
  services/system/Accounts/plugin/src/lib.rs
  services/system/Accounts/plugin/wit/impl.wit
  services/system/Accounts/plugin/wit/world.wit
  services/system/AuthSig/plugin/Cargo.toml
  services/system/AuthSig/plugin/wit/impl.wit
  services/system/AuthSig/plugin/wit/world.wit
  services/user/ClientData/README.md
  services/user/ClientData/plugin/Cargo.lock
  services/user/ClientData/plugin/Cargo.toml
  services/user/ClientData/plugin/src/errors.rs
  services/user/ClientData/plugin/src/lib.rs
  services/user/ClientData/plugin/wit/impl.wit
  services/user/ClientData/plugin/wit/world.wit
  services/user/CommonApi/common/packages/common-lib/src/messaging/FunctionCallRequest.ts
  services/user/CommonApi/common/packages/common-lib/src/messaging/index.ts
  services/user/Invite/plugin/Cargo.toml
  services/user/Invite/plugin/src/errors.rs
  services/user/Invite/plugin/src/lib.rs
  services/user/Invite/plugin/wit/impl.wit
  services/user/Invite/plugin/wit/world.wit
  services/user/Supervisor/plugin/wit/world.wit
  services/user/Supervisor/ui/src/component-loading/proxy/proxyPackage.ts
  services/user/Supervisor/ui/src/component-loading/shims/ts/wasi-keyvalue.ts
  services/user/Supervisor/ui/src/component-loading/shims/wasi-keyvalue.js
  services/user/Supervisor/ui/src/supervisor.ts
  services/user/Supervisor/ui/src/utils.ts
  services/user/Tokens/plugin/Cargo.toml
  services/user/Tokens/plugin/src/lib.rs
  services/user/Tokens/plugin/src/query/token_detail.rs
  services/user/Tokens/plugin/wit/impl.wit
  services/user/Tokens/plugin/wit/world.wit
  services/user/Webmail/plugin/Cargo.toml
  services/user/Webmail/plugin/wit/impl.wit
  services/user/Webmail/plugin/wit/world.wit
Labels: Plugin Infra

#816 add clientdata package back into devdefault and proddefault
  CMakeLists.txt
Labels: bug, no-log

#820 Split up the two largest TUs
  libraries/psibase_http/CMakeLists.txt
  libraries/psibase_http/handle_request.cpp
  libraries/psibase_http/http.cpp
  libraries/psibase_http/http_session.hpp
  libraries/psibase_http/http_session_base.cpp
  libraries/psibase_http/http_session_base.hpp
  libraries/psibase_http/include/psibase/http.hpp
  libraries/psibase_http/include/psibase/http_types.hpp
  libraries/psibase_http/server_state.hpp
  libraries/psibase_http/tcp_http_session.cpp
  libraries/psibase_http/tcp_http_session.hpp
  libraries/psibase_http/tls_http_session.cpp
  libraries/psibase_http/tls_http_session.hpp
  libraries/psibase_http/unix_http_session.cpp
  libraries/psibase_http/unix_http_session.hpp
  libraries/psibase_http/websocket_log_session.cpp
  libraries/psibase_http/websocket_log_session.hpp
  libraries/psibase_http/websocket_log_session.ipp
  programs/psinode/CMakeLists.txt
  programs/psinode/connect.cpp
  programs/psinode/connect.hpp
  programs/psinode/connection.cpp
  programs/psinode/connection.hpp
  programs/psinode/main.cpp
  programs/psinode/psinode.hpp
Labels: no-log

#808 Build .psi packages with cargo-psibase
  doc/psidk/src/SUMMARY.md
  doc/psidk/src/development/services/rust-service/README.md
  doc/psidk/src/development/services/rust-service/package.md
  doc/psidk/src/development/services/rust-service/reference/web-services.md
  doc/psidk/src/development/services/rust-service/testing.md
  rust/CMakeLists.txt
  rust/Cargo.lock
  rust/Cargo.toml
  rust/cargo-psibase/Cargo.toml
  rust/cargo-psibase/src/main.rs
  rust/cargo-psibase/src/package.rs
  rust/psibase/Cargo.toml
  rust/psibase/src/depgraph.rs
  rust/psibase/src/hex.rs
  rust/psibase/src/main.rs
  rust/psibase/src/package.rs
  rust/psibase/src/tester.rs
  rust/psibase_macros/src/test_case_macro.rs
  rust/test_contract/Cargo.toml
  rust/test_contract/src/lib.rs
  rust/test_contract_2/Cargo.toml
  rust/test_contract_2/src/lib.rs
  rust/test_package/Cargo.toml
  rust/test_package/plugin/Cargo.toml
  rust/test_package/plugin/src/lib.rs
  rust/test_package/plugin/wit/world.wit
  rust/test_package/query/Cargo.toml
  rust/test_package/query/src/lib.rs
  rust/test_package/service/Cargo.toml
  rust/test_package/service/src/lib.rs
  rust/test_package/src/lib.rs
  rust/test_subjective/Cargo.toml
  rust/test_subjective/src/lib.rs
Labels: Dev Experience

#814 refactoring rust service unit testing
  rust/psibase/src/tester.rs
  rust/psibase_macros/src/test_case_macro.rs
  services/user/Identity/service/src/lib.rs
  services/user/Identity/service/src/tests/attestations.rs
  services/user/Identity/service/src/tests/errors.rs
  services/user/Identity/service/src/tests/helpers/gql.rs
  services/user/Identity/service/src/tests/helpers/mod.rs
  services/user/Identity/service/src/tests/helpers/query_builders.rs
  services/user/Identity/service/src/tests/helpers/test_helpers.rs
  services/user/Identity/service/src/tests/queries.rs
  services/user/Identity/service/src/tests/stats.rs
Labels: Dev Experience
